<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.motoquiz"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MotoQuizActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PytaniaActivity"
            android:label="@string/title_activity_pytania"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".WynikiActivity"
            android:label="@string/title_activity_wyniki"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".TabelaWynikiActivity"
            android:label="@string/title_activity_tabela_wyniki"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
